<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ci_rule_01" stopProcessing="true">
                    <match url="(index.php|robots.txt|sitemap.xml|extras|info.php|favicon.ico)" />
                </rule>
                <rule name="ci_rule_02">
                    <match url=".*" />
                    <action type="Rewrite" url="index.php/{r:0}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>